<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



             <main class="mastcontent">
                 <section class="intro-copy padding-y padding-lg">
                     <div class="container">
                         <div class="grid">
                             <div class="grid__column grid__column--12 grid__column--12--md">
                                 <h1>Title</h1>

                                 <div class="i-grid" id="macy-container">

            {{#images}}

            <div id="{{id}}" class="i-grid-item">
               <a href="imgs/{{filename}}" data-lightbox="collection1" data-title="{{title}}">
                   <img src="imgs/{{filename}}" />
               </a>
            </div>


            {{/images}}
            </div>
         </div>

         </div>
         </div>
         </section>
         </main>



<script src="/socket.io/socket.io.js" ></script>
<script src="/javascripts/moveTo.js"></script>
<script src="/javascripts/queue.js"></script>
<script>


var queue = new Queue();

console.log('Hello');
const moveTo = new MoveTo();

var socket = io('//localhost:3000');
socket.on('socketToMe',  (data) => {
  queue.enq(data);
  console.log(queue.deq());
  const target = document.getElementById(data.imagenumber);
  moveTo.move(target, {    callback: function (target) {
    console.log('moved to '+target);
     $(target).find('a').click();
     setTimeout(() => { $('.lb-close').click()}, 10000) ;
   }});

});
</script>
